# Application Definition 
app_name        = "todoapp"     # Do NOT enter any spaces
app_environment = "localstack"  # Dev, Test, Staging, Prod, etc

# Network
vpc_cidr           = "10.11.0.0/16"
public_subnet_cidr = "10.11.1.0/24"

# AWS Settings
aws_access_key = "fake"
aws_secret_key = "fake"
aws_region     = "us-east-1"
aws_az         = "us-east-1a"

# AMI Selection
ami_filter_name = "debian-13-amd64-local-test"
ami_owners      = ["000000000000", "self"]

# Linux Virtual Machine
linux_instance_type               = "t2.micro"
linux_associate_public_ip_address = true
linux_root_volume_size            = 20
linux_root_volume_type            = "gp3"
linux_data_volume_size            = 10
linux_data_volume_type            = "gp3"
